body {
    font-family: 'Dosis';
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-position: top center;
    background-size: contain;
    padding: 20%;
    background-attachment: fixed;
}

.menu {
    background-color: #93E3E3;
}

.menu>a {
    font-size: 25px;
}


.card {
    border: 1px solid #93E3E3;
}

#cintaSuperior {
    height: 30px;
    background-color: #FF4545;
}

.text-rojo {
    color: #FF4545;
}

